---
import { Image } from "astro:assets";
import pfp from "../../public/pfp.webp";
import wavingHand from "../assets/images/waving_hand.png";
import { LINKS, DETAILS, ABOUT } from "./constants";
---

<!-- <div data-aos="fade-up" class="mx-auto py-4 lg:py-4">
  <div class="w-40 text-center mx-auto">
    <Image
      class="rounded-full text-center stroke-slate-50 stroke-2"
      src={pfp}
      alt={DETAILS.FULL_NAME}
      loading="eager"
    />
  </div>
  <div class="text-center">
    <h1 class="font-light py-4 tracking-tight text-primary flex items-center gap-2 justify-center">
      Hi, I&apos;m {DETAILS.NAME} <span><img class="w-6" src={wavingHand.src} alt="waving hand emoji"></span>
    </h1>
    <p
      class="text-3xl font-bold text-primary text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl pb-2"
    >
      {ABOUT.ROLE}
    </p>
    <p class="w-5/6 mx-auto mt-2 text-gray-400 font-medium">
      {ABOUT.ROLE}
    </p>
    <a href="/#about" class="cursor-pointer w-full h-full z-50">
      <svg viewBox="0 0 24 24" class="animate-bounce stroke-primary h-8 flex justify-center w-full mt-3 sm:mt-6 sm:h-10" height="1em" fill="none" xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
          <path
            d="M19 9L14 14.1599C13.7429 14.4323 13.4329 14.6493 13.089 14.7976C12.7451 14.9459 12.3745 15.0225 12 15.0225C11.6255 15.0225 11.2549 14.9459 10.9109 14.7976C10.567 14.6493 10.2571 14.4323 10 14.1599L5 9"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g></svg
      >
      </a>
  </div>
</div> -->

<div class="mx-auto lg:py-4 py-4 aos-init aos-animate" data-aos="fade-up">
  <div class="flex justify-center mx-auto text-center w-96"><img alt="Hemang Nakarani" class="text-center rounded-full stroke-2 stroke-slate-50 w-80" decoding="async" height="400" loading="eager" src="/src/assets/images/astro.svg" width="434"></div>
  <div class="text-center">
     <p class="text-primary bg-clip-text bg-gradient-to-r from-[#d7d7d7] pb-2 text-transparent to-[#616161] font-bold md:text-5xl pt-4 sm:text-3xl text-3xl">Hi, I'm Jay Patel</p>
     <p class="text-primary bg-clip-text bg-gradient-to-r from-[#d7d7d7] pb-2 text-transparent to-[#616161] font-bold md:text-3xl mt-4 sm:text-xl text-base">a full-stack software engineer, who loves to explore, build and ship!</p>
     <a class="w-full cursor-pointer h-full z-50" href="/#about">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="1em" class="flex justify-center w-full animate-bounce h-8 mt-3 sm:h-10 sm:mt-6 stroke-primary" fill="none">
           <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
           <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
           <g id="SVGRepo_iconCarrier">
              <path d="M19 9L14 14.1599C13.7429 14.4323 13.4329 14.6493 13.089 14.7976C12.7451 14.9459 12.3745 15.0225 12 15.0225C11.6255 15.0225 11.2549 14.9459 10.9109 14.7976C10.567 14.6493 10.2571 14.4323 10 14.1599L5 9" stroke-width="1.5" stroke-linejoin="round" stroke-linecap="round"></path>
           </g>
        </svg>
     </a>
  </div>
</div>

<style is:inline>
  :root {
    --color: rgba(71, 71, 71, 0.918);
  }
</style>
